.onboardingContainer {
    background: url(../../../public/img/splash/splash-naked.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.imageContainer {
    width: 90%;
    margin: auto;
}

.inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 2rem 1rem;
}

.hero {
    padding-top: 10vw;
}

.onboardingContainer h2 {
    margin-bottom: 1rem;
}

.onboardingContainer p {
    width: 80%;
    margin: auto;

    color: var(--greyscale-color2);
    margin-bottom: 2rem;
}

.getStarted {
    background-color: black;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 20px;
    text-decoration: none;
}
