.home_all_wrapper {
  position: relative;
}

.home_header {
  padding: 13vw 0 0px 6vw;
  color: var(--greyscale-color1);
}

.home_search_wrapper {
  margin-right: 6vw;
  margin-bottom: 17px;
}

.home_header h1 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.meal_of_day {
  height: 50vw;
  background: url(../../../public/img/home_img/meal_of_day.png) no-repeat center;
  background-size: cover;
  width: 70vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  margin-bottom: 21px;
}

.meal_of_day h2 {
  font-size: 18px;
  color: var(--greyscale-color6);
  line-height: 110%;
  margin-bottom: 9px;
  max-width: 14ch;
}

.mod_lower_wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--greyscale-color5);
  font-size: 14px;
  width: 100%;
}

.mod_lower_wrapper div {
  display: flex;
  gap: 8px;
}

.home_round_grey {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid var(--greyscale-color6);
  background-color: var(--greyscale-color3);
}

.home_h2_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 15px; */
  padding-right: 5vw;
}

.home_h2_wrapper:first-of-type {
  margin-bottom: 15px;
}

.home_h2_wrapper h2 {
  font-size: 20px;
  color: var(--greyscale-color1);
}

.home_h2_wrapper p {
  color: var(--accent-color1);
  font-weight: bold;
  font-size: 14px;
}

.home_areas_section {
  margin-bottom: 24px;
}

.home_areas_wrapper {
  display: flex;
  gap: 12px;
  padding-right: 2vw;
}

.areas_link {
  padding-block: 9px;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  color: var(--greyscale-color1);
  background-color: var(--greyscale-color5);
  border-radius: 100px;
  transition: all 0.3s ease;
}

.areas_link:hover {
  background-color: var(--accent-color1);
  color: var(--greyscale-color6);
}

.categories_slider {
  display: flex;
  overflow-y: scroll;
  gap: 16px;
  padding-top: 5px;
  padding-bottom: 14px;
  margin-bottom: 100px;
}

.categories_slider::-webkit-scrollbar {
  display: none;
}

.categories_slider:nth-child(1) {
  padding-left: 6vw;
}

.categories_slider article {
  margin-top: 12px;
  padding: 16px;
  box-shadow: 0 2px 16px rgba(6, 51, 54, 0.1);
  border-radius: 16px;
}

.categories_slider article img {
  max-width: 168px;
  margin-bottom: 12px;
}

.categories_slider article h3 {
  padding-bottom: 30px;
}

.categories_slider a {
  text-decoration: none;
  color: var(--greyscale-color1);
}

.popup_section {
  height: 100svh;
  display: flex;
  align-items: center;
  padding: 10vw 6vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow: hidden;
}

.popup_content {
  background-color: var(--greyscale-color6);
  border-radius: 20px;
  padding: 10vw 6vw;
  height: 100%;
  position: relative;
}

.popup_content h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.close_div {
  position: absolute;
  top: 8vw;
  right: 12vw;
}

.close_line {
  height: 2px;
  width: 22px;
  border-radius: 100px;
  background-color: var(--accent-color1);
  transform: rotate(45deg);
  position: absolute;
}

.close_line:nth-of-type(2) {
  transform: rotate(135deg);
}

.close {
  display: none;
}
