/* --- tile and headlines */
.detail {
  padding-left: 6vw;
  padding-right: 6vw;
  background-color: white;
  position: relative;
  z-index: 1;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
}
.detail-wrapper {
  border-radius: 20px;
}

.detail-wrapper img {
  height: 30vh;
  width: 100vw;
  object-fit: cover;
}

.detail h1 {
  padding-top: 8vw;
  margin-bottom: 2vw;
  font-size: 24px;
  font-weight: 700;
  background-color: white;
}

.detail h2 {
  font-size: 16px;
  font-weight: 400;
  color: #748189;
}
.detail h2:nth-of-type(2) {
  margin-bottom: 5vw;
  font-weight: 300;
}
.detail h3 {
  margin-top: 5vw;
  margin-bottom: 7vw;
  font-weight: 700;
  font-size: 20px;
}
/* --- buttons */

.detail .buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e6ebf2;
  border-radius: 16px;
}
.buttons div {
  margin-top: 3px;
}
/* --- ingredients */
.detail .detail-ingredients p {
  border-radius: 16px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);
}
/* --- instructions */
.detail .detail-instructions-content {
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);
  margin-bottom: 3vw;
}
.detail .detail-instructions-tag {
  white-space: pre-line;
  line-height: 30px;
  margin-bottom: 8vw;
}
/* --- Navbar */

.detail-navbar {
  margin-top: 100px;
}
